<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Nuevo Proveedor</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
</head>

<body>
    <header th:replace="~{barra}"></header>
    <div class="container mt-5" th:object="${Proveedoress}">
        <h2 class="mb-4 fw-bold">Proveedor</h2>
        <input type="hidden" th:field="${Proveedoress.ID_Cliente_proveedor}">

        <div class="row mb-3">
            <div class="col-md-6">
                <label class="form-label fw-semibold fs-6">Nombre</label>
                <p th:text="*{Nombre}"></p>
            </div>
            <div class="col-md-6">
                <label class="form-label fw-semibold fs-6">Teléfono</label>
                <p th:text="*{Telefono}"></p>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-6">
                <label class="form-label fw-semibold fs-6">Celular</label>
                <p th:text="*{Celular}"></p>
            </div>
            <div class="col-md-6">
                <label class="form-label fw-semibold fs-6">Correo</label>
                <p th:text="*{Correo}"></p>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-6">
                <label class="form-label fw-semibold fs-6">Dirección</label>
                <p th:text="*{Direccion}"></p>
            </div>
            <div class="col-md-3">
                <label class="form-label fw-semibold fs-6">Departamento</label>
                <p th:text="${Proveedoress.municipio.departamento.Nombre}"></p>
            </div>
            <div class="col-md-3">
                <label class="form-label fw-semibold fs-6">Municipio</label>
                <p th:text="${Proveedoress.municipio.Nombre}"></p>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-12">
                <label class="form-label fw-semibold fs-6">Tipos Materiales:</label>
                <ul class="mt-1 list-disc list-inside space-y-1">
                    <li th:each="tipos : ${Tiposs}" class="text-base font-medium text-gray-900"
                        th:text="${tipos.Tipo_material.Descripcion}"></li>
                </ul>
            </div>
        </div>
    </div>

    <footer th:replace="~{piePagina}"></footer>
</body>

</html>