<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Nuevo Proveedor</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
</head>

<body>
    <header th:replace="~{barra}"></header>
    <div class="container mt-5" th:object="${Clientess}">
        <h2 class="mb-4 fw-bold">Cliente</h2>
        <input type="hidden" th:field="*{ID_Cliente_proveedor}" />

        <div class="row mb-2">
            <div class="col-md-6">
                <strong>Nombre:</strong> <span th:text="*{Nombre}"></span>
            </div>
            <div class="col-md-6">
                <strong>Teléfono:</strong> <span th:text="*{Telefono}"></span>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-md-6">
                <strong>Celular:</strong> <span th:text="*{Celular}"></span>
            </div>
            <div class="col-md-6">
                <strong>Correo:</strong> <span th:text="*{Correo}"></span>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-md-6">
                <strong>Dirección:</strong> <span th:text="*{Direccion}"></span>
            </div>
            <div class="col-md-6">
                <strong>Departamento:</strong> <span th:text="${Clientess.municipio.departamento.Nombre}"></span>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-md-6">
                <strong>Municipio:</strong> <span th:text="${Clientess.municipio.Nombre}"></span>
            </div>
        </div>
    </div>

    <footer th:replace="~{piePagina}"></footer>
</body>

</html>