<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Sitio Web - Inicio</title>
    <link rel="stylesheet" href="/css/custom-bootstrap.css">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Iconos de Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <style>
        .hero-section {
            background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('https://via.placeholder.com/1920x600');
            background-size: cover;
            background-position: center;
            color: white;
            padding: 100px 0;
        }

        .feature-icon {
            font-size: 2.5rem;
            margin-bottom: 1rem;
            color: #0d6efd;
        }
    </style>
</head>

<body>
    <header th:replace="~{barra}"></header>
    <div class="container mt-4">
        <h2 class="mb-4">Lista de Materiales</h2>
        <div class="d-flex flex-column flex-md-row justify-content-md-between align-items-md-center">
            <div class="col-md-6">
                <input type="text" id="barraBusqueda" class="form-control mb-3" placeholder="Buscar material..."
                    oninput="buscarMateriales()">
            </div>
            <div class="mb-3">
                <a class="btn btn-success" th:href="@{/GestionZapaterias/Materiales/NuevoMaterial}">Agregar Nuevo
                    Material</a>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th><a>Nombre</a></th>
                        <th>Descripción</th>
                        <th><a
                                th:href="@{|/GestionZapaterias/Materiales/0?orden=cantidad&direccion=${direccion == 'asc' ? 'desc' : 'asc'}|}">Cantidad</a>
                        </th>
                        <th><a
                                th:href="@{|/GestionZapaterias/Materiales/0?orden=costoUnidad&direccion=${direccion == 'asc' ? 'desc' : 'asc'}|}">Costo
                                Unidad</a></th>
                        <th><a
                                th:href="@{|/GestionZapaterias/Materiales/0?orden=stockMinimo&direccion=${direccion == 'asc' ? 'desc' : 'asc'}|}">Stock
                                Mínimo</a></th>
                        <th><a
                                th:href="@{|/GestionZapaterias/Materiales/0?orden=fechaActualizacion&direccion=${direccion == 'asc' ? 'desc' : 'asc'}|}">Fecha
                                Actualización</a></th>
                        <th>Proveedor</th>
                        <th>Tipo</th>
                        <th>Unidad</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody id="tablaMateriales">
                    <tr th:each="material : ${Materialess.content}">
                        <td th:text="${material.Nombre}"></td>
                        <td th:text="${material.Descripcion}"></td>
                        <td th:text="${material.cantidad}"></td>
                        <td th:text="${material.costoUnidad}"></td>
                        <td th:text="${material.stockMinimo}"></td>
                        <td th:text="${material.fechaActualizacion}"></td>
                        <td th:text="${material.clienteProveedores.Nombre}"></td>
                        <td th:text="${material.tipoMaterial.Descripcion}"></td>
                        <td th:text="${material.tipoMaterial.Unidad_medida}"></td>
                        <td>
                            <a th:href="@{/GestionZapaterias/Materiales/EditarMaterial/} + ${material.ID_Materiales}" class="link-warning link-underline-opacity-0">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round"
                                    class="icon icon-tabler icons-tabler-outline icon-tabler-edit">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1" />
                                    <path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z" />
                                    <path d="M16 5l3 3" />
                                </svg>
                            </a>
                            <a th:href="@{/GestionZapaterias/Materiales/EliminarMaterial/} + ${material.ID_Materiales}" class="link-danger link-underline-opacity-0">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round"
                                    class="icon icon-tabler icons-tabler-outline icon-tabler-trash">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <path d="M4 7l16 0" />
                                    <path d="M10 11l0 6" />
                                    <path d="M14 11l0 6" />
                                    <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
                                    <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
                                </svg>
                            </a>
                            <a th:href="@{/GestionZapaterias/Materiales/VerMaterial/} + ${material.ID_Materiales}">Ver</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Paginación -->
        <nav>
            <ul class="pagination">
                <li class="page-item" th:classappend="${Materialess.first} ? 'disabled'">
                    <a class="page-link"
                        th:href="@{|/GestionZapaterias/Materiales/${Materialess.number - 1}?orden=${orden}&direccion=${direccion}|}">Anterior</a>
                </li>

                <li class="page-item"
                    th:each="i : ${#numbers.sequence(0, Materialess.totalPages > 0 ? Materialess.totalPages - 1 : 0)}"
                    th:if="${Materialess.totalPages > 0}" th:classappend="${Materialess.number == i} ? 'active'">
                    <a class="page-link"
                        th:href="@{|/GestionZapaterias/Materiales/${i}?orden=${orden}&direccion=${direccion}|}"
                        th:text="${i + 1}"></a>
                </li>

                <li class="page-item" th:classappend="${Materialess.last} ? 'disabled'">
                    <a class="page-link"
                        th:href="@{|/GestionZapaterias/Materiales/${Materialess.number + 1}?orden=${orden}&direccion=${direccion}|}">Siguiente</a>
                </li>
            </ul>
        </nav>
    </div>
    <footer th:replace="~{piePagina}"></footer>
    <script th:src="@{/js/app.js}"></script>
</body>

</html>