<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
    <div class="container">
        <a class="navbar-brand" href="#">MiSitio</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/GestionZapaterias/Materiales/0}">Materiales</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/GestionZapaterias/Proveedor}">Proveedores</a>
                </li>
                <!-- Opción de Logout -->
                <li class="nav-item">
                    <form class="dropdown-item" th:action="@{/logout}" method="post">
                        <input type="submit" value="Sign Out" class="nav-link active" />
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>    