<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <link rel="stylesheet" th:href="@{/css/main.css}">
        <title>Gestion de Zapaterias</title>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </head>
    <body>  
        <div class="container" id="container">
            <div class="form-container sign-up-container">
                <form th:action="@{/GestionZapaterias/guardarUsuario}" method="post" th:object = "${Usuarioss}">
                    <h1>CREAR CUENTA</h1>
                    <hr />
                    <div class="group-input">
                        <i class="fa fa-lock"></i>
                        <input type="text" placeholder="Nombre de la Zapateria" th:field = "${Usuarioss.Zapateria}" required minlength="10" maxlength="45">
                    </div>
                    <div class="group-input">
                        <i class="fa fa-lock"></i>
                        <input type="text" placeholder="Nombre del Encargado" th:field = ${Usuarioss.Encargado} required minlength="10" maxlength="80"/>
                    </div>
                    <div class="group-input">
                        <i class="fa fa-envelope"></i>
                        <input type="number" placeholder="Número Telefonico" th:field = "${Usuarioss.Telefono}"/>
                    </div>
                    <div class="group-input">
                        <i class="fa fa-lock"></i>
                        <input id="NumeroCelular" type="tel" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="Número Celular" th:field = "${Usuarioss.Celular}" required/>
                    </div>
                    <div class="group-input">
                        <i class="fa fa-envelope"></i>
                        <input type="email" placeholder="Correo Electronico" th:field = "${Usuarioss.Correo}" required/>
                    </div>
                    <div class="group-input">
                        <i class="fa fa-lock"></i>
                        <input type="text" placeholder="Dirección de la Zapateria" th:field = "${Usuarioss.Direccion}" required minlength="10" maxlength="100">
                    </div>
                    <div class="combo">
                        <div class="group-input" style="margin-right: 10px;">
                            <select id = "departamentoLista" th:field = "${Usuarioss.municipio.departamento}" required>
                                <option value="" hidden>Departamento</option>
                                <option th:each = "departamento:${Departamentoss}" th:value = "${departamento.ID_Departamento}" th:text = "${departamento.Nombre}"></option>
                            </select>
                        </div>
                        <div class="group-input">
                            <i class="fa fa-lock"></i>
                            <select id="municipioLista" th:field = "${Usuarioss.municipio}" required>
                                <option value="" hidden>Ciudad</option>
                            </select>
                        </div>
                    </div>
                    <div class="group-input">
                        <i class="fa fa-lock"></i>
                        <input type="password" placeholder="Password" pattern="[*\S$]+" title="Sin espacios" required minlength="6" maxlength="15" th:field="${Usuarioss.Contraseña}"/>
                    </div>
                    <button type="submit" >Entrar</button>
                </form>
            </div>
            <div class="form-container sign-in-container">
                <form method="post" th:action="@{/login}">
                    <h1>ENTRAR</h1>
                    <hr />
                    <div class="group-input">
                         <i class="fa fa-envelope"></i>
                        <input type="text" placeholder="Usuario" name = "Correo" required/>
                    </div>
    
                    <div class="group-input">
                        <i class="fa fa-lock"></i>
                        <input type="password" placeholder="Contraseña" name = "Contraseña" required/>
                    </div>
                    <button type="submit">Entrar</button>
                </form>
            </div>

            <div class="side-element-container">
                <div class="side-element">
                    <div class="side-element-panel side-element-left">
                        <h1>Hello!</h1>
                        <p>Enter your personal details and start having fun with us</p>
                        <button class="ghost" id="signIn">ENTRAR</button>
                    </div>
                    <div class="side-element-panel side-element-right">
                        <h1>Welcome!</h1>
                        <p>
                            Happy to see you again, login and have fun with us.
                        </p>
                        <button class="ghost" id="signUp">REGISTRARSE</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script th:src="@{/js/app.js}"></script>
</html>